@font-face {
  font-family: "Nexa Heavy";
  src: url(../fonts/NexaHeavy.otf);
}

@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/NexaBold.otf);
}

@font-face {
  font-family: "Nexa Black";
  src: url(../fonts/NexaBlack.otf);
}

@font-face {
  font-family: "Nexa Light";
  src: url(../fonts/NexaLight.otf);
}

@font-face {
  font-family: "Nexa Regular";
  src: url(../fonts/NexaRegular.otf);
}

@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/Montserrat-Black.woff2);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Kommissar Condensed";
  src: url(../fonts/KommissarCondensed-Medium.woff2);
}

.tns-outer {
  position: relative;
}
[data-controls] {
  border: 0;
  padding: 0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  z-index: 1;
  background: transparent;
}
[data-controls="prev"] {
  left: 20px;
}
[data-controls="next"] {
  right: 20px;
}
