@font-face {
  font-family: "Nexa Heavy";
  src: url(../fonts/NexaHeavy.otf);
}

@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/NexaBold.otf);
}

@font-face {
  font-family: "Nexa Black";
  src: url(../fonts/NexaBlack.otf);
}

@font-face {
  font-family: "Nexa Light";
  src: url(../fonts/NexaLight.otf);
}

@font-face {
  font-family: "Nexa Regular";
  src: url(../fonts/NexaRegular.otf);
}

@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/Montserrat-Black.woff2);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Kommissar Condensed";
  src: url(../fonts/KommissarCondensed-Medium.woff2);
}

.tiny-slider-wrap .tns-outer,
.shows_outer_container,
.latest_videos_outer {
  position: relative;
}

.tiny-slider-wrap [data-controls],
.shows_outer_container [data-controls],
.latest_videos_outer [data-controls] {
  border: 0;
  padding: 0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  /*  margin-top: -18px; */
  z-index: 1000;
  background: transparent;
}

.tiny-slider-wrap [data-controls="prev"],
.shows_outer_container [data-controls="prev"],
.latest_videos_outer [data-controls="prev"] {
  left: 20px;
}

.tiny-slider-wrap [data-controls="next"],
.shows_outer_container [data-controls="next"],
.latest_videos_outer [data-controls="next"] {
  right: 80px;
}

.outer_container_shadow {
  margin-top: 30px;
  position: relative;
}

.outer_container_shadow:before,
.tiny_container_shadow:before {
  background-image: url(../img/shadow.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  position: absolute;
  right: -2px;
  width: 30%;
  z-index: 10;
}

.top_arrows .tns-controls {
  display: flex;
  justify-content: end;
  position: relative;
  top: -40px;
  z-index: 10;
}

.top_arrows [data-controls="next"] {
  margin-left: 20px;
}

.top_arrows .tns-controls {
  padding-right: 80px;
}

.top_arrows .tns-nav {
  display: none;
}

@media (max-width: 600px) {
  [data-controls="prev"],
  [data-controls="next"] {
    width: 30px;
  }

  .top_arrows .tns-controls {
    top: -28px;
  }
}

.welcome_hub {
  background-image: url("/assets/src/img/shades.png");
  background-repeat: no-repeat;
  background-position: center right;
}
@media (max-width: 991px) {
  .welcome_hub {
    background-image: url("/assets/src/img/shades-mob.png");
    background-position: center left;
  }
}

/* .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;

  
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper-slide {
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

/**
show page Latest videos slider control 

**/

.latest-videos-slider iframe {
  position: relative;
  height: 534px;
  width: 100%;
}

@media (max-width: 991px) {
  .latest-videos-slider iframe {
    height: 193px;
  }

  .latest_videos_outer [data-controls] {
    position: relative;
  }

  .latest_videos_outer [data-controls="next"] {
    right: 0;
  }

  .latest_videos_outer .tns-controls {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    padding-right: 20px;
    margin-top: -25px;
  }
}
